.footer-contact-icons {
  padding-top: 15px;
}


.footer-cnt {
  justify-content: center;
  align-items: center;
}

.contacts {
  background-color: black;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.footer-rights{
  display: flex;
  flex-direction: column;
}